.AdminArea {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    gap: 10px;
    justify-content: center;
}

.add_vac_link{
    width:100%;
    text-align: center;
}

.view_repot_link{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    width:100%;
    text-align: center;
}